@using Microsoft.Extensions.Configuration

@inject SessionService sessionservice
@inject StaticService staticservice
@inject IConfiguration config

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="searchapplicant" Icon="@(new Icons.Regular.Size20.ChannelAdd())" IconColor="Color.Accent">File Capture</FluentNavLink>
            <FluentNavLink Href="enquirypage" Icon="@(new Icons.Regular.Size20.Search())" IconColor="Color.Accent">Enquiry</FluentNavLink>
             <FluentNavLink Href="http://10.124.154.88/sassaongoing/ValidationLogin.aspx" Target="_blank" Icon="@(new Icons.Regular.Size20.BarcodeScanner())" IconColor="Color.Accent">Scan</FluentNavLink>
             <FluentNavLink Href="@RsWeb" Target="_blank" Icon="@(new Icons.Regular.Size20.BuildingSwap())" IconColor="Color.Accent">RSWeb</FluentNavLink>
             <FluentNavLink Href="misfiles" Icon="@(new Icons.Regular.Size20.DocumentTableSearch())" IconColor="Color.Accent">MIS Files</FluentNavLink>
            <FluentNavLink Href="boxing" Icon="@(new Icons.Regular.Size20.Box())" IconColor="Color.Accent">@(sessionservice.session.IsRmc() ? "Re-boxing" :"Batching")</FluentNavLink>
            <FluentNavLink Href="filerequest" Icon="@(new Icons.Regular.Size20.BranchRequest())" IconColor="Color.Accent">File Requests</FluentNavLink>
            @*
            <FluentNavLink Href="reportpage" Icon="@(new Icons.Regular.Size20.DocumentPrint())" IconColor="Color.Accent">Reports</FluentNavLink>
            @if (sessionservice.session.IsRmc())
            {
                <FluentNavLink Href="destruction" Icon="@(new Icons.Regular.Size20.DeleteLines())" IconColor="Color.Accent">Destruction</FluentNavLink>

                @if (sessionservice.session.IsInRole("GRP_BRM_Office_Name_Change"))
                {
                   <FluentNavLink Href="officeadmin" Icon="@(new Icons.Regular.Size20.CheckboxPerson())" IconColor="Color.Accent">Office Admin</FluentNavLink>
                }
            }
            *@
        </FluentNavMenu>
    </nav>
</div>

@code {
    
    string RsWeb = "";
    bool expanded = true;
    protected override void OnInitialized()
    {
        RsWeb = config.GetValue<string>("Url:RsWeb")!;
        sessionservice.UserOfficeChanged += new EventHandler(OnUserOfficeChanged);
       base.OnInitialized();

    }
    //UserSession gsession;

    private void OnUserOfficeChanged(object? sender, EventArgs args)
    {
        StateHasChanged();
    }
}