@inject IJSRuntime JS
@inject ReportDataService rs
@inject SessionService sessionservice


<WidgetTitle Title="Download Reports" />

@if (props != null)
{
    <div style="min-height:400px;">
        <table class="table table-sm" style="font-size: small; ">
            <thead>
                <tr>
                    @foreach (var prop in props)
                    {
                        <th scope="col">@prop.Name</th>
                    }
                    @foreach (var propa in props.Where(p => p.Name == "FileName"))
                    {
                        <th>Action</th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>

                @foreach (var u in pagedResult)
                {
                    <tr>
                        @foreach (var prop in props)
                        {
                        <td scope="col">
                            @if (prop.PropertyType == typeof(bool))
                            {
                                @if (prop.GetValue(u) == null || (bool)(prop.GetValue(u) ?? false) == false)
                                {
                                    <span class="oi oi-x" aria-hidden="true"></span>
                                }
                                else
                                {
                                    <span class="oi oi-check" aria-hidden="true"></span>
                                }
                            }
                            else
                            {
                                @prop.GetValue(u);
                            }
                        </td>
                        }
                        @foreach (var propa in props.Where(p => p.Name == "FileName"))
                        {
                            <td>
                             <button class="btn btn-primary btn-sm active" @onclick="async () => await DownloadFileFromStream(propa,u)">
                                    Download
                            </button>
@*                                <a class="btn btn-primary btn-sm active" href="../brmfiles/@propa.GetValue(u)?.ToString()" download="@propa.GetValue(u)" target="_top">Download</a> *@
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm active" @onclick="@(() => btnDelete_Click(propa.GetValue(u)!.ToString()!))">Delete</button>
                            </td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <p>No Data.</p>
}

@code {
    [Parameter]
    public string? Title { get; set; }

    List<CsvListItem> pagedResult = new();

    List<PropertyInfo> props = new List<PropertyInfo>();

    protected override void OnInitialized()
    {
        pagedResult = rs.GetFiles(sessionservice.session.Office.RegionCode, sessionservice.session.SamName);
        if (!pagedResult.Any())
        {
            return;
        }
        Type? myType = pagedResult.First()?.GetType();
        if (myType == null) return;
        props = new List<PropertyInfo>(myType.GetProperties());
    }
    protected override void OnParametersSet()
    {
        if (!pagedResult.Any()) return;
        Type? myType = pagedResult.First()?.GetType();
        if (myType == null) return;
        props = new List<PropertyInfo>(myType.GetProperties());
    }

    protected void btnDelete_Click(string fileName)
    {
        rs.DeleteReport(fileName);
        pagedResult = rs.GetFiles(sessionservice.session.Office.RegionCode, sessionservice.session.SamName);
    }

    private Stream GetFileStream(string path)
    {
        return File.OpenRead(path);
    }

    private async Task DownloadFileFromStream(PropertyInfo pi,CsvListItem u)
    {
        try
        {
            var fileName = @pi.GetValue(u)?.ToString();
            await JS.InvokeVoidAsync("triggerFileDownload", fileName, $"/brmFiles/{fileName}");
        }
        catch(Exception ex)
        {
            var s = ex.Message;
        }
    }
}
