@page "/check"
@using Sassa.Brm.Health
@inject DailyCheck check
@inject SessionService session
@inject IAlertService toast
@inject TdwBatchService batchService
@inject IHttpClientFactory _httpClientFactory
@inject CSService csService
@inject IDbContextFactory<ModelContext> _brmcontextFactory
@inject IDbContextFactory<LoModelContext> _locontextFactory
@inject IDbContextFactory<SocpenContext> _socpencontextFactory
@inject ILogger<Check> logger
@inject EmailClient emailClient



<button class="btn btn-primary btn-sm active" @onclick="() => SaveReport()">Save Health check</button>
<button class="btn btn-primary btn-sm active" @onclick="() => TdwEmailTest()">Tdw Email Test</button>

<div class="status-row">
    <StatusWidget ServiceName="BRM Api" Status="@isBrmApiHealthy"/>
    <StatusWidget ServiceName="Email Server" Status="@isMaiServerHealthy"/>
    <StatusWidget ServiceName="CS WebService" Status="@isCsWsHealthy"/>
    <StatusWidget ServiceName="CS Database" Status="@isCsDbHealthy"/>
    <StatusWidget ServiceName="BRM Database" Status="@isBrmDbHealthy"/>
    <StatusWidget ServiceName="LO Database" Status="@isLoDbHealthy"/>
    <StatusWidget ServiceName="SOCPEN Database" Status="@isSocpenDbHealthy"/>
</div>

<hr />
<ErrorLog/>


    @code {
        [Inject] IWebHostEnvironment? Env { get; set; }

        private bool isBrmApiHealthy = false;
        private bool isCsWsHealthy = false;
        private bool isMaiServerHealthy = false;
        //Dbs
        private bool isBrmDbHealthy = false; 
        private bool isLoDbHealthy = false;
        private bool isCsDbHealthy = false;
        private bool isSocpenDbHealthy = false;


        protected override async Task OnInitializedAsync()
        {
            // BRM API Health Check
            try
            {
                var client = _httpClientFactory.CreateClient("BrmApi");
                var response = await client.GetAsync("ApplicationV2/healthcheck");
                isBrmApiHealthy = response.IsSuccessStatusCode;
            }
            catch
            {
                isBrmApiHealthy = false;
            }

            // Email Server Health Check
            try
            {
                isMaiServerHealthy = emailClient.SMTPServerTest();
            }
            catch
            {
                isMaiServerHealthy = false;
            }

            // CS WebService Health Check
            try
            {
                isCsWsHealthy = await csService.CheckService();
            }
            catch
            {
                isCsWsHealthy = false;
            }

            // CS Database Health Check
            try
            {
                isCsDbHealthy = await csService.CheckDBConnection();
            }
            catch
            {
                isCsDbHealthy = false;
            }

            // BRM Database Health Check
            try
            {
                using var brmctx = _brmcontextFactory.CreateDbContext();
                isBrmDbHealthy = await brmctx.DcBoxTypes.AsNoTracking().CountAsync() == 18;
            }
            catch
            {
                isBrmDbHealthy = false;
            }

            // LO Database Health Check
            try
            {
                using var loctx = _locontextFactory.CreateDbContext();
                isLoDbHealthy = ((await loctx.CustCoversheetValidations.FindAsync("2907202508110947")) != null);
            }
            catch
            {
                isLoDbHealthy = false;
            }

            // SOCPEN Database Health Check
            try
            {
                using var socpenctx = _socpencontextFactory.CreateDbContext();
                isSocpenDbHealthy = await socpenctx.CustRescodes.AsNoTracking().Take(1).CountAsync() == 1;
            }
            catch
            {
                isSocpenDbHealthy = false;
            }
        }

    public async Task SaveReport()
    {
        try
        {
            await check.WriteDailyReport(session.session.Name, 10, DateTime.Now);
            toast.Success("Healthcheck saved.");
        }
        catch
        {
            toast.Error("Healthcheck already saved.");
        }
    }

    public void TdwEmailTest()
    {
        try
        {
            if (Env == null)
            {
                toast.Error("Environment not set.");
                return;
            }
            batchService.SendTdwMailTest(Path.Combine(Env.WebRootPath, "TestFile.csv"));
            toast.Success("TestMail sent please check the log for any error.");
        }
        catch(Exception ex)
        {
            logger.LogError(ex, "Error in Email client test");
            toast.Error("Error consumed in Email client...");
        }
    }

}
